In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('data.csv')
df.head()

    NIK  C1   C2   C3   C4   C5   C6
0  1239  80   70   60   80   70   90
1  1010  90   70   80   60   80   70
2  1011  80   70   60   80   90   60
3  1001  90  100  100  100  100  100
4  1111  60   50   40   70   60   50

In [62]:
df2 = df[['C1', 'C2', 'C3', 'C4', 'C5', 'C6']]
df2.head()

   C1   C2   C3   C4   C5   C6
0  80   70   60   80   70   90
1  90   70   80   60   80   70
2  80   70   60   80   90   60
3  90  100  100  100  100  100
4  60   50   40   70   60   50

In [63]:
wx = np.array([0.15, 0.15, 0.16, 0.19, 0.18, 0.17])

In [64]:
df3 = wx * df2 
df3.head()

     C1    C2    C3    C4    C5    C6
0  12.0  10.5   9.6  15.2  12.6  15.3
1  13.5  10.5  12.8  11.4  14.4  11.9
2  12.0  10.5   9.6  15.2  16.2  10.2
3  13.5  15.0  16.0  19.0  18.0  17.0
4   9.0   7.5   6.4  13.3  10.8   8.5

## Menentukan kelulusan

In [65]:
df3['TOTAL'] = df3.sum(axis=1)
df3.head()

     C1    C2    C3    C4    C5    C6  TOTAL
0  12.0  10.5   9.6  15.2  12.6  15.3   75.2
1  13.5  10.5  12.8  11.4  14.4  11.9   74.5
2  12.0  10.5   9.6  15.2  16.2  10.2   73.7
3  13.5  15.0  16.0  19.0  18.0  17.0   98.5
4   9.0   7.5   6.4  13.3  10.8   8.5   55.5

## Menentukan nilai Cmax dan Cmin

In [66]:
maxz = df2.assign(max_value=df2.values.max(1))
maxz.head()

   C1   C2   C3   C4   C5   C6  max_value
0  80   70   60   80   70   90         90
1  90   70   80   60   80   70         90
2  80   70   60   80   90   60         90
3  90  100  100  100  100  100        100
4  60   50   40   70   60   50         70

In [67]:
cmax = df2.max(axis=1)
cmax.head()

0     90
1     90
2     90
3    100
4     70
dtype: int64

In [68]:
minz = df2.assign(min_value=df2.values.min(1))
minz.head()

   C1   C2   C3   C4   C5   C6  min_value
0  80   70   60   80   70   90         60
1  90   70   80   60   80   70         60
2  80   70   60   80   90   60         60
3  90  100  100  100  100  100         90
4  60   50   40   70   60   50         40

In [84]:
cmin = df2.min(axis=1)
cmin.head()

0    60
1    60
2    60
3    90
4    40
dtype: int64

## Mencari nilai utility untuk perengkingan

In [85]:
df4 = cmax - df2(axis=1)
df4.head()

TypeError: 'DataFrame' object is not callable

In [80]:
df5 = cmax - cmin
df5.head()

0    30
1    30
2    30
3    10
4    30
dtype: int64

In [81]:
df6 = df4 / df5
df6.head()

0    0.333333
1    0.000000
2    0.333333
3    1.000000
4    0.333333
dtype: float64

In [82]:
df7 = df6 * wx
df7.head()

ValueError: operands could not be broadcast together with shapes (29,) (6,)

In [48]:
df7['TOTAL'] = df7.sum(axis=1)
df7.head()

NameError: name 'df7' is not defined